.dockerignore
Dockerfile*
docker-compose*
# need git to generate docs, this is okay since the images will remain on the CI server or local dev machine
#.git*
.vscode
.travis*
package-lock.json
node_modules
npm-debug.log
docs